<!DOCTYPE html>
<html>
<head>
    <title>Poznámky</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/styly/custom.css" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
    <div class="chybova_hlaska">
        <h1 class="chybova_hlaska_nadpis">{{chybova_hlaska_nadpis}}</h1>
        <h2>{{chybova_hlaska_text}}</h2>
        <a href="/" class="chybova_hlaska_odkaz">zpět na úvodní stránku</a>
    </div>
</body>
</html>
