<!DOCTYPE html>
<html>
<head>
    <title>Poznámky</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/styly/custom.css" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
    <div class="menu">
        <text style="left:0%;"><a href="/profil/{{jmeno}}/edit">{{jmeno}}</a></text>
        <text style="left:calc(50% - 284px);"><a href="/">všechny poznámky</a></text>
        <text style="left:calc(50% - 120px);"><a href="/poznamky">moje poznámky</a></text>
        <text style="left:calc(50% + 19px);"><a href="/poznamka/vlozit">vložit poznámku</a></text>
        <text style="left:calc(100% - 240px);"><a href="/registrace">{{registrovat}}</a></text>
        <text style="left:calc(100% - 120px);"><a href="/prihlaseni">{{prihlaseni}}</a></text>
        <text style="left:calc(100% - 120px);"><a href="/odhlaseni">{{odhlaseni}}</a></text>
    </div>

    <br>
    <h1>Tvé poznámky</h1>

    
    <div class="poznamka_radek">
        <div class="poznamka_sloupec">
            <h2 class="dulezite">důležité poznámky</h2>
            {% for poznamky in poznamky %}
            {% if poznamky[5] == 3 %}
            
    <div class="poznamka">
        
        <div class="poznamka_nadpis">
            
            <a href="/profil/{{poznamky[1]}}"><img src={{poznamky[6]}} width="50px" height="50px"></a>
            <poznamka_nadpis_nahoru>{{poznamky[1]}}</poznamka_nadpis_nahoru>
            
        </div>
       
        {% if not poznamky[0] == -1 %}
       
        
        {% for form in form %}

        {% if form.id == poznamky[0] %}
        <div class="poznamka_text ">
        <form method="POST" action="/upravit/poznamky/{{poznamky[0]}}">
        {{form.csrf_token}}
        {{form.uprava()}}
        
        <input type="submit" value="Upravit" class="uprava_poznamky">
        </form>
    </div>
        {% endif %}
    
        
        {% endfor %}
   
    {% else %}
    <div class="poznamka_text">{{poznamky[2]}}</div> <br>
    {% endif %} 
        {% if not poznamky[0] == -1 %}
        <a href="/smaz/index/{{poznamky[1]}}/{{poznamky[0]}}" class="smazani">smazat</a>
        {% endif %}
        <div class="poznamka_datum">{{poznamky[3]}}<br>{{poznamky[4]}}</div>
        
    </div>
    {% endif %}
    {% endfor %}
</div>
<div class="poznamka_sloupec">
    <h2 class="normalni">normální poznámky</h2>
    {% for poznamky in poznamky %}
    {% if poznamky[5] == 2 %}
    
<div class="poznamka">

<div class="poznamka_nadpis">
    
    <a href="/profil/{{poznamky[1]}}"><img src={{poznamky[6]}} width="50px" height="50px"></a>
    <poznamka_nadpis_nahoru>{{poznamky[1]}}</poznamka_nadpis_nahoru>
    
</div>

{% if not poznamky[0] == -1 %}


{% for form in form %}

{% if form.id == poznamky[0] %}
<div class="poznamka_text">
<form method="POST" action="/upravit/poznamky/{{poznamky[0]}}">
{{form.csrf_token}}
{{form.uprava()}}

<input type="submit" value="Upravit" class="uprava_poznamky">
</form>
</div>
{% endif %}


{% endfor %}

{% else %}
<div class="poznamka_text">{{poznamky[2]}}</div> <br>
{% endif %} 
{% if not poznamky[0] == -1 %}
<a href="/smaz/index/{{poznamky[1]}}/{{poznamky[0]}}" class="smazani">smazat</a>
{% endif %}
<div class="poznamka_datum">{{poznamky[3]}}<br>{{poznamky[4]}}</div>

</div>
{% endif %}
{% endfor %}
</div>
<div class="poznamka_sloupec">
    <h2 class="nedulezite">nedůležité poznámky</h2>
    {% for poznamky in poznamky %}
    {% if poznamky[5] == 1 %}
    
<div class="poznamka">

<div class="poznamka_nadpis">
    
    <a href="/profil/{{poznamky[1]}}"><img src={{poznamky[6]}} width="50px" height="50px"></a>
    <poznamka_nadpis_nahoru>{{poznamky[1]}}</poznamka_nadpis_nahoru>
    
</div>

{% if not poznamky[0] == -1 %}


{% for form in form %}

{% if form.id == poznamky[0] %}
<div class="poznamka_text">
<form method="POST" action="/upravit/poznamky/{{poznamky[0]}}">
{{form.csrf_token}}
{{form.uprava()}}

<input type="submit" value="Upravit" class="uprava_poznamky">
</form>
</div>
{% endif %}


{% endfor %}

{% else %}
<div class="poznamka_text">{{poznamky[2]}}</div> <br>
{% endif %} 
{% if not poznamky[0] == -1 %}
<a href="/smaz/index/{{poznamky[1]}}/{{poznamky[0]}}" class="smazani">smazat</a>
{% endif %}
<div class="poznamka_datum">{{poznamky[3]}}<br>{{poznamky[4]}}</div>

</div>
{% endif %}
{% endfor %}
</div>
    
    
    </div>
    <br>
   
</body>
</html>
