<!DOCTYPE html>
<html>
<head>
    <title>Poznámky</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/styly/custom.css" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
<h1 class="uprostred">Profil</h1>
<img src={{obrazek}} width="20%">

<h2 class="vlevo">Jméno: {{jmeno}}</h2>
<h2 class="vlevo">Počet poznámek: {{poznamky}}</h2>
<h2 class="vlevo">Datum registrace: {{registrace}}</h2>

<a href="/" class="v_rohu_vpravo_nahore">zpět</a>

</body>
</html>
